body {
    color: #001;
    background: #000;
    margin: 0;
    padding: 0;
    font-family: times new roman, times, serif;
    text-align: center;
    font-size: x-small;
    voice-family: "\"}\"";
    voice-family: inherit;
    font-size: small;
    }

html>body {
    font-size: small;
    }

/* ---( Text Styles )---------------------------------------- */

p {
    color: #001;
    font-size: x-small;
    line-height: 140%;
    voice-family: "\"}\"";
    voice-family:inherit;
    font-size: small;
    }

html>p {
    font-size: small;
    }

h1 {
    font-size: 24px;
    color: #000;
    margin: 0;
    }

h2 {
    font-size: 18px;
    color: #000;
    margin: 0;
    }

h3, h3 a, h3 a:link, h3 a:visited, h3 a:hover, h3 a:active {
    font-size: 12px;
    letter-spacing: 3px;
    color: #444;
    text-transform: uppercase;
    text-shadow: #888 0px 1px 2px;
    padding-top: 24px;
    margin: 0;
    margin-bottom: 10px;
    }

ul {
    padding: 0;
    margin: 0;
    list-style: none;
    }

li {
    line-height: 130%;
    }

iframe {
    background: #fff;
    margin: 0px;
    /* height: 224px; */
    /* width: 352px; */
    }

#licensebrowser iframe {
    background: #fff;
    margin: 0px;
    height: 200px;
    width: 352px;
    }

a img {
    border: 0;
    }


/* ---( link Styles )---------------------------------------- */

a:link {
    color: #9a1900;
    text-decoration: underlined;
    }

a:visited {
    color: #9a1900;
    text-decoration: underlined;
    }

a:hover {
    color: #f96000;
    text-decoration: none;
    }

/* ---( Section Styles )------------------------------------- */

#lettucewrap {
    text-align: center;
    }

#thecolumn {
    position: relative;
    background: #fff url(/images/bgd_body1.gif) repeat-y;
    margin: 0px auto;
    padding: 0px 24px 0px 24px;
    width: 448px;
    voice-family: "\"}\"";
    voice-family:inherit;
    width: 400px;
    }

html>#thecolumn {
    width: 400px;
    }

#columnhead {
    }

#logo h1 {
    background: #fff url(/images/header_logo.png) no-repeat;
    width: 400px;
    height: 158px
    }

#logo h1 a {
    display: block;
    height: 158px
    }

#navlinks {
    height: 23px;
    width: 400px;
    background: #9a1900;
    vertical-align: middle;
    }

#navlinks ul {
    }

#navlinks ul li {
    float: left;
    display: inline;
    }

#navlinks ul li a {
    display: block;
    height: 23px;
    margin: 0;
    padding: 0px;
    }

#navhome, #navhome a {
    width: 70px;
    background: url(/images/nav_home.gif) no-repeat 0px 0px;
    }

#navhome a:hover {
    background: url(/images/nav_home.gif) no-repeat 0px -24px;
    }

#navblog, #navblog a {
    width: 79px;
    background: url(/images/nav_blog.gif) no-repeat 0px 0px;
    }

#navblog a:hover {
    background: url(/images/nav_blog.gif) no-repeat 0px -24px;
    }

#navpics, #navpics a {
    width: 75px;
    background: url(/images/nav_pics.gif) no-repeat 0px 0px;
    }

#navpics a:hover {
    background: url(/images/nav_pics.gif) no-repeat 0px -24px;
    }

#navabout, #navabout a {
    width: 88px;
    background: url(/images/nav_about.gif) no-repeat 0px 0px;
    }

#navabout a:hover {
    background: url(/images/nav_about.gif) no-repeat 0px -24px;
    }

#navlinkpage, #navlinkpage a {
    width: 88px;
    background: url(/images/nav_links.gif) no-repeat 0px 0px;
    }

#navlinkpage a:hover {
    background: url(/images/nav_links.gif) no-repeat 0px -24px;
    }

#featured {
    width: 400px;
    margin: 0;
    background: #ffa416;
    border-top: 1px solid #fc3;
    border-bottom: 1px solid #df4600;
    }

#columnbody {
    width: 400px;
    margin: 0;
    }

#sub_columnbody {
    width: 400px;
    margin: 0;
    }

#browseall {
    margin: 0;
    }

#content {
    background: 0px -24px;
    margin: 0;
    width: 400px;
    padding: 16px 24px 0px;
    voice-family: "\"}\"";
    voice-family:inherit;
    width: 352px;
    }

#columnfoot {
    width: 400px;
    }

#goodstuff {
    width: 400px;
    background: #444;
    text-align: center;
    border-bottom: 1px solid #333;
    }

#goodstuff p {
    font-size: 10px;
    color: #999;
    margin: 0;
    padding: 10px 0px 6px;
    text-transform: uppercase;
    letter-spacing: 2px;
    }

.cellphone_date {
    text-align:right;
    font-style: italic;
    //font-size: x-small;
}

.cellphone_title {
    text-decoration: underline;

}

.info {
    text-align: center;
    padding: 0px 0px 24px;
    }

.info p {
    margin: 0;
    }

.info ul {
    }

.info ul li {
    padding: 2px 0px;
    vertical-align: middle;
    }

/* ---( Hacks and Such )-------------------------------------- */

.smallprev {
    margin: 0;
    }

.sc {
    font-variant: small-caps;
    }

.alt, .comingsoon {
    display: none;
    }

.buy form {
    display: inline;
    }