<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Joe Kutner | {{page.name}}</title>
    <meta content="text/html; charset=iso-8859-1" http-equiv="Content-Type"/>
    <meta name="viewport" content="width=640" />
    <meta name="author" content="Joe Kutner" />
    <meta name="publisher" content="Joe Kutner" />
    <meta name="keywords" content="Joe Kutner Ruby Rails JRuby iOS Java Programming Software" />
    <meta name="description" content="Joe Kutner - Programmer, consultant, speaker, and author specializing in JRuby, Rails and JVM" />
    <script type="text/javascript" src="/js/jquery.js" id="jquery"></script>
    <link type="text/css" href="css/main.css" rel="stylesheet"/>
</head>
<body>
<div id="lettucewrap">
    <div id="thecolumn">
        <div id="columnhead">
            <div id="logo">
                <h1>
                    <a title="Home" href="index.html">
                        <span class="alt">Joe Kutner</span>
                    </a>
                </h1>
            </div>
            <div id="navlinks">
                <ul>
                    <li id="navhome">
                        <a title="Home" href="index.html">
                            <span class="alt">Home</span>
                        </a>
                    </li>
                    <li id="navblog">
                        <a title="My blog" href="http://jpkutner.blogspot.com">
                            <span class="alt">Blog</span>
                        </a>
                    </li>
                    <li id="navpics">
                        <a title="Books I've written" href="books.html">
                            <span class="alt">Books</span>
                        </a>
                    </li>
                    <li id="navabout">
                        <a title="Talks I've give at conferences" href="http://www.confreaks.com/presenters/366-joe-kutner">
                            <span class="alt">Talks</span>
                        </a>
                    </li>
                    <li id="navlinkpage">
                        <a title="Open source code I've written" href="https://github.com/jkutner">
                            <span class="alt">Code</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div id="columnbody">
            <div id="sub_columnbody">
                {{content}}
            </div>
            <div id="columnfoot">
                <div id="goodstuff">
                    <p>(c) 2013 Joe Kutner.</p>
                </div>
            </div>

        </div>
    </div>
</div>
</body>
</html>
